In [1]:
# create modeling spark session
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.appName('Project 2 test')
    .config('spark.sql.repl.eagerEval.enabled', True) 
    .config('spark.sql.parquet.cacheMetadata', 'true')
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config("spark.executor.memory", "8g")
    .config("spark.driver.memory", "8g")
    .getOrCreate()
)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/30 18:49:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# read merchants data
merchants = spark.read.parquet('../data/tables/tbl_merchants.parquet')
merchants.limit(5)

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
+--------------------+--------------------+------------+

In [3]:
from pyspark.sql import functions as F

In [4]:
# tags are seperated by ), ( or ], [, replace these by ### for splitting

merchants = merchants.withColumn("tags",F.regexp_replace(F.regexp_replace(
    F.col("tags"),"\){1},{1}\s?\(","###"),"\]{1},{1}\s?\[","###"))

In [5]:
# check if correctly replaced
merchants.select("tags").show(10, False)

+---------------------------------------------------------------------------------------------------------------+
|tags                                                                                                           |
+---------------------------------------------------------------------------------------------------------------+
|((furniture, home furnishings and equipment shops, and manufacturers, except appliances###e###take rate: 0.18))|
|([cable, satellite, and otHer pay television and radio services###b###take rate: 4.22])                        |
|([jewelry, watch, clock, and silverware shops###b###take rate: 4.40])                                          |
|([wAtch, clock, and jewelry repair shops###b###take rate: 3.29])                                               |
|([music shops - musical instruments, pianos, and sheet music###a###take rate: 6.33])                           |
|[(gift, card, novelty, and souvenir shops###a###take rate: 6.34)]                                              |
|[(computers, comPUter peripheral equipment, and softwAre###b###take rate: 4.32)]                               |
|[[watch, clock, and jewelry repair shops###c###take rate: 2.39]]                                               |
|([computer programming , data processing, and integrated systems design services###a###take rate: 5.71])       |
|[(furniture, home furnishings and equipment shopS, and manufacturers, except appliances###a###take rate: 6.61)]|
+---------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [6]:
# split tags data to three columns, denoted as business_area, revenue_level and take_rate
split_merchants = merchants.withColumn("business_area", F.split(F.col("tags"), "###").getItem(0))\
                           .withColumn("revenue_level", F.split(F.col("tags"), "###").getItem(1))\
                           .withColumn("take_rate", F.split(F.col("tags"), "###").getItem(2))

In [7]:
split_merchants.limit(5)

+--------------------+--------------------+------------+--------------------+-------------+-----------------+
|                name|                tags|merchant_abn|       business_area|revenue_level|        take_rate|
+--------------------+--------------------+------------+--------------------+-------------+-----------------+
|       Felis Limited|((furniture, home...| 10023283211|((furniture, home...|            e|take rate: 0.18))|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|([cable, satellit...|            b|take rate: 4.22])|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|([jewelry, watch,...|            b|take rate: 4.40])|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|([wAtch, clock, a...|            b|take rate: 3.29])|
| Enim Condimentum PC|([music shops - m...| 10192359162|([music shops - m...|            a|take rate: 6.33])|
+--------------------+--------------------+------------+--------------------+-------------+-----------------+

In [8]:
split_merchants = split_merchants\
                    .withColumn("business_area",F.regexp_replace(F.col("business_area"),r"\(\[\)\]",""))

In [9]:
# remove remaining ()[] punctuation in column business_area and take_rate

# obtain take rate in numeric form from take_rate column, 
# in the form of take rate: d.dd, therefore item 1 is the numeric value

# convert string in business_area to lower form

# convert string in revenue_level to lower form, just in case if there's a typo

curated_merchant = split_merchants\
            .withColumn("business_area", F.regexp_replace("business_area", "[\[\]\(\)]", ""))\
            .withColumn("take_rate", F.regexp_replace("take_rate", "[\[\]\(\)]", ""))\
            .withColumn("take_rate", F.split(F.col("take_rate"), ":").getItem(1))\
            .withColumn("business_area", F.lower(F.col('business_area')))\
            .withColumn("revenue_level", F.lower(F.col('revenue_level')))


final_merchant = curated_merchant.drop('tags')

In [10]:
final_merchant.limit(5)

+--------------------+------------+--------------------+-------------+---------+
|                name|merchant_abn|       business_area|revenue_level|take_rate|
+--------------------+------------+--------------------+-------------+---------+
|       Felis Limited| 10023283211|furniture, home f...|            e|     0.18|
|Arcu Ac Orci Corp...| 10142254217|cable, satellite,...|            b|     4.22|
|    Nunc Sed Company| 10165489824|jewelry, watch, c...|            b|     4.40|
|Ultricies Digniss...| 10187291046|watch, clock, and...|            b|     3.29|
| Enim Condimentum PC| 10192359162|music shops - mus...|            a|     6.33|
+--------------------+------------+--------------------+-------------+---------+

In [11]:
# check if revenue_level match levels (5 types)
final_merchant.groupby('revenue_level').count()

+-------------+-----+
|revenue_level|count|
+-------------+-----+
|            e|   53|
|            d|   98|
|            c|  922|
|            b| 1351|
|            a| 1602|
+-------------+-----+

In [12]:
# check for different business area
final_merchant.groupby('business_area').count()

+--------------------+-----+
|       business_area|count|
+--------------------+-----+
|stationery, offic...|    2|
|health  and beaut...|    1|
|opticians, optica...|  145|
|books, periodical...|    5|
|watch, clock, and...|  159|
|computer programm...|  182|
|jewelry, watch, c...|    2|
|tent and  awning ...|    1|
|opticians, optica...|    1|
|books, periodical...|    5|
|lawn and garden  ...|    2|
|furniture, home f...|    1|
|watch,  clock, an...|    2|
|computer programm...|    1|
|hobby, toy and  g...|    1|
|digital goods: bo...|  190|
|computer programm...|    1|
|watch, clock, and...|    4|
|stationery, offic...|    1|
|artist supply  an...|    3|
+--------------------+-----+
only showing top 20 rows

In [13]:
consumer = spark.read.parquet('/Users/aobo/Desktop/Project_2/data/tables/consumer_user_details.parquet')
consumer

AnalysisException: Path does not exist: file:/Users/aobo/Desktop/Project_2/data/tables/consumer_user_details.parquet

In [ ]:
consumer.count()

499999

In [ ]:
consumer_detail = spark.read.option('sep', "|").csv(directory + '/data/tables/tbl_consumer.csv', 
                                                    header = True)
consumer_detail

+-----------------+--------------------+-----+--------+-----------+-----------+
|             name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [ ]:
consumer_detail.count()

499999

In [ ]:
curated_merchant.count()

4026